@model Italbus.Models.ViewModels.LoginVM
@using Microsoft.AspNetCore.Identity;
@{
    ViewData["Title"] = "Login";
}

<div class="container">
    <div class="row">
        <div class="m-auto col-8 rounded bg-light border-dark border" style="margin:3% 0;padding:2%">
            @using (Html.BeginForm("Login", "Home"))
            {
                <div class="form-group">
                    @Html.LabelFor(m => m.Username)
                    @Html.TextBoxFor(m => m.Username, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Username)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
                <button type="submit" class="btn btn-primary float-right">Login</button>
            }
                @if (Model.Message!="")
                {
                    <h4 class="text-danger m-3 text-center w-100">@Model.Message</h4>
                }
        </div>
    </div>
</div>

